<% layout("/layouts/boilerplate") %>

<% if (error && error.length > 0) { %>
  <div class="alert alert-danger mt-3" role="alert">
    <% error.forEach(msg => { %>
      <p class="alert-heading"><%= msg %></p>
    <% }) %>
  </div>
<% } else if (message) { %>
  <div class="alert alert-danger mt-3" role="alert">
    <p class="alert-heading"><%= message %></p>
  </div>
<% } %>
